/qbdt/c-sharp/QBFC/QBInvoiceAdd/Backup
/qbdt/c-sharp/QBFC/QBInvoiceAdd/bin
/qbdt/c-sharp/QBFC/QBInvoiceAdd/obj
/qbdt/c-sharp/QBFC/QBInvoiceAdd/UpgradeLog.htm
/qbdt/c-sharp/QBFC/QBInvoiceAdd/.vs
/qbdt/c-sharp/qbXML/CustomerAdd/obj
/qbdt/c-sharp/qbXML/CustomerAdd/.vs
/qbdt/c-sharp/qbXML/CustomerAdd/Backup
/qbdt/c-sharp/qbXML/CustomerAdd/bin
/qbdt/c-sharp/qbXML/CustomerAdd/UpgradeLog.htm
/qbdt/c-sharp/qbXML/MCInvoiceAdd/.vs
/qbdt/c-sharp/qbXML/MCInvoiceAdd/Backup
/qbdt/c-sharp/qbXML/MCInvoiceAdd/bin
/qbdt/c-sharp/qbXML/MCInvoiceAdd/obj
/qbdt/c-sharp/qbXML/MCInvoiceAdd/UpgradeLog.htm
**/Backup
**/bin
**/obj
**/UpgradeLog.htm
**/*.user
